<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121386984171-9159vnk4tq3jfm17968b8jfjdesmi983.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121386984171-9159vnk4tq3jfm17968b8jfjdesmi983</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>121386984171-a9rtjctukh930lc4a2ldm0k2310qn7h1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_Aw1QOAL6Kf9i0tA8bpIyC_w3jzg6C98</string>
	<key>GCM_SENDER_ID</key>
	<string>121386984171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webaddicted.flutterdemo</string>
	<key>PROJECT_ID</key>
	<string>flutter-demo-3625d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-demo-3625d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121386984171:ios:709343f691b05ad3c714ae</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-demo-3625d.firebaseio.com</string>
</dict>
</plist>